%h1#im-here Show me around

=form_tag({controller: "tour", action: "generate"}, {method: "post", class: "form-prefs"}) do
  #welcome-map
  #when
    %h2#between Between
    =hidden_field_tag :lat, '52.3747158'
    =hidden_field_tag :long, '4.8986166'
    -#TODO datetime not supported in most browsers
    #start-container
      =text_field(:tour, :str_start_time)
    #and and
    #end-container
      =text_field(:tour, :str_end_time)
  #options-btn
    %span#plus +
    -#and…
  #btn-go-container
    =submit_tag("Let's go", :id => 'btn-go')
:javascript
  var map = L.mapbox.map('welcome-map', 'examples.map-i86nkdio')
      .setView([52.3747158,4.8986166], 15);

  //if (!navigator.geolocation) {
  //    geolocate.innerHTML = 'Geolocation is not available';
  //} else {
  //    geolocate.onclick = function (e) {
  //        e.preventDefault();
  //        e.stopPropagation();
  //        map.locate();
  //    };
  //}

  // Once we've got a position, zoom and center the map on it, and add a single marker.
  map.on('locationfound', function(e) {
      //map.fitBounds(e.bounds);
      map.setView([e.latlng.lat, e.latlng.lng], 14)

      myLayer.setGeoJSON({
          type: 'Feature',
          geometry: {
              type: 'Point',
              coordinates: [e.latlng.lng, e.latlng.lat]
          },
          properties: {
              'title': 'Here I am!',
              'marker-color': '#ff8888',
              'marker-symbol': 'star'
          }
      });

      // And hide the geolocation button
      geolocate.parentNode.removeChild(geolocate);
  });
  // Immediately start to locate
  map.locate();